<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><a href="./flights/new">Create New Flight</a></h1>
    <h1><a href="./flights/index">Display All Flights</a></h1>
  </body>
</html>
